#the-flag {

height: 20px;
border: 1px solid black;
}
#american-flag {


padding-bottom: 0px;
    text-align: right;
}


#outer-container {

border: 1px solid black;
border-left: 2px solid black;
}


#bandera {

height: 20px;
border: 1px solid black;
}
#div1 {

padding-top: 0px;
}

#spanish-flag {


padding-bottom: 0px;
    text-align: right;
}



.uppercase {


text-transform: uppercase;

}

#watchvid {

text-align: center;
margin-top: -22px;
    margin-bottom: 10px;
}

div {

padding: 10px;

}

#about {

text-align: justify;

}

#contact-info {

text-align: center;
margin-bottom: -15px;
}

#envelope {

margin-left: 43px;

}

#outer-container {

width: 95%;
background-color: red;
    margin: auto;
}

body {


/* background-image: url('../img/cambodian-flag.png');
background-repeat: no-repeat; */
    
    background-color: blue;
    

}

.title {

text-align: center;


}

.ramorn-img {

height: 300px;
    width: 300px;

    border: 2px solid black;

}

.ramorn-div {

text-align: center;

}

ul {

list-style: none;

}

p {
margin: auto;
width: 1000px;
}

#img-div {

height: 300px;





}

img {

border: 2px solid black;
  
}

hr {

width: 50%;
    color: black;
    height: 2px;
    border-color: black;

}

#previous, #next {


display: inline-block;

}
#social-media {



}

.nopad {

padding: 0px;

}

#carouselcontainer {

text-align: center;

}

#previous, #next {


font-weight: 600;
font-size: 1.17em;    
}

#music-title {

margin-bottom: 0px;
    margin-top: 50px;

}

#description {

text-align: center;


}

p {

text-align: justify;

}


.fa-5x {

padding: 15px 15px 0px 15px;

}

#music {

text-align: center;

}

#description .fa:hover {

color: blue;
}

video:hover {}

#list-div {

display: inline-block;

}

.contactramorn {

text-decoration-line: none;
    font-size: 1.25em;
    text-decoration: none;
    
}
#about {

margin-bottom: 65px;
}

#hr2 {

margin-top:40px;
    margin-bottom: 65px;

}

#social-media {

margin-bottom: 50px;
}

hr {
    
    background-color: black;
    height: 0px;


}

body {

font-family:sans-serif;

}

a:visited {

color: blue;
}

.noline {

text-decoration-line: none;
    text-decoration: none;
}

#button-link {

color: black;

}